
    <span class="btn btn-color text-light adjust">Employee Details
    </span>
 <main><br>
    <div class="card-group ">
      <div class="col ">
      <div class="card card-primary text-center ">
        <img class="card-img-top rounded-circle" src="../../assets/vishali.jpeg" alt="Card image cap">
        <div class="card-body">      
          <div class="card-title">Vishali Putnuri</div>
          <div class="justify-content-center card-title d-flex ">
            <span class="material-icons">perm_identity</span>
            <h6 class="side mx-1" >2062945</h6>
        </div> 
            <div class=" card-title d-flex mx-auto justify-content-center">
                <span class="material-icons ">mail_outline</span>
                <h6 class="mx-1">Vishali.Potnuri@cognizant.com</h6>
            </div> 
            <div class="mx-auto card-title d-flex justify-content-center ">
                <span class="material-icons ">location_on</span>
                <h6 class=" margin1">DLF Cybercity, Gachibowli Rd,<br> Hyderabad, Telangana<br> 500019</h6>
                </div> 
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span>Programmer Analyst Trainee
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-primary text-center">
        <img class="card-img-top rounded-circle" src="../../assets/Dhileep.jpg" alt="Card image cap">
        <div class="card-body">      
          <div class="card-title">Chinni Dhileep</div>
          <div class="justify-content-center card-title d-flex ">
            <span class="material-icons">perm_identity</span>
            <h6 class="side mx-1" >2062875</h6>
        </div> 
            <div class=" card-title d-flex mx-auto justify-content-center">
                <span class="material-icons ">mail_outline</span>
                <h6 class="mx-1">Chinni.Dhileep@cognizant.com</h6>
            </div> 
            <div class="mx-auto card-title d-flex justify-content-center ">
                <span class="material-icons ">location_on</span>
                <h6 class=" margin1">DLF Cybercity, Gachibowli Rd,<br> Hyderabad, Telangana<br> 500019</h6>
                </div> 
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span>Programmer Analyst Trainee
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-primary text-center">
        <img class="card-img-top rounded-circle" src="../../assets/charishma.jpeg" alt="Card image cap">
        <div class="card-body">      
          <div class="card-title">Charishma Shaik</div>
          <div class="justify-content-center card-title d-flex ">
            <span class="material-icons">perm_identity</span>
            <h6 class="side mx-1" >2063163</h6>
        </div> 
            <div class=" card-title d-flex mx-auto justify-content-center">
                <span class="material-icons ">mail_outline</span>
                <h6 class="mx-1">Charishma.Shaik@cognizant.com</h6>
            </div> 
            <div class="mx-auto card-title d-flex justify-content-center ">
                <span class="material-icons ">location_on</span>
                <h6 class=" margin1">DLF Cybercity, Gachibowli Rd,<br> Hyderabad, Telangana<br> 500019</h6>
                </div> 
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span>Programmer Analyst Trainee
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-primary text-center">
        <img class="card-img-top rounded-circle" src="../../assets/dileep.jpeg" alt="Card image cap">
        <div class="card-body">      
          <div class="card-title">Gajula Dileep</div>
          <div class="justify-content-center card-title d-flex ">
            <span class="material-icons">perm_identity</span>
            <h6 class="side mx-1" >2063641</h6>
        </div> 
            <div class=" card-title d-flex mx-auto justify-content-center">
                <span class="material-icons ">mail_outline</span>
                <h6 class="mx-1">Dileep.Gajula@cognizant.com</h6>
            </div> 
            <div class="mx-auto card-title d-flex justify-content-center ">
                <span class="material-icons ">location_on</span>
                <h6 class=" margin1">DLF Cybercity, Gachibowli Rd,<br> Hyderabad, Telangana<br> 500019</h6>
                </div> 
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span>Programmer Analyst Trainee
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-primary text-center">
        <img class="card-img-top rounded-circle" src="../../assets/mohit.jpg" alt="Card image cap">
        <div class="card-body">      
          <div class="card-title">Mohith Singh</div>
          <div class="justify-content-center card-title d-flex ">
            <span class="material-icons">perm_identity</span>
            <h6 class="side mx-1" >2062984</h6>
        </div> 
            <div class=" card-title d-flex mx-auto justify-content-center">
                <span class="material-icons ">mail_outline</span>
                <h6 class="mx-1">Mohit.Singh@cognizant.com </h6>
            </div> 
            <div class="mx-auto card-title d-flex justify-content-center ">
                <span class="material-icons ">location_on</span>
                <h6 class=" margin1">DLF Cybercity, Gachibowli Rd,<br> Hyderabad, Telangana<br> 500019</h6>
                </div> 
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-secondary btn-icon-right">
            <span>Programmer Analyst Trainee
            </span>
          </a>
        </div>
      </div>
    </div> 
    </div>
    </main>

 