<div class="row row-cols-1 row-cols-md-3 adjust g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/banner3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-color">Brian Humphries || CEO</h5><hr>
          <p class="card-text">Brian Humphries is the Chief Executive Officer of Cognizant. In his role as CEO, Brian sets the strategic direction of the company, promotes Cognizant’s client-first culture and focuses on ensuring sustainable growth and driving long-term shareholder value. Brian is a broadly experienced technology executive with a proven track record of driving enterprise-wide transformation through focused execution, often in challenging and highly competitive market segments.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 53 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/banner2.jpg" height="414px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-color">Techonology</h5><hr>
          <p class="card-text">Cognizant helps companies modernize technology, reimagine processes and transform experiences so they stay ahead in a fast-changing world. Great technology used to be enough. Today data is the heart of businesses in the high-tech manufacturing, software, online and data services sectors. We partner with technology companies to modernize data and create platforms that deliver compelling experiences and operational maturity to unlock greater value.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 days ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../assets/banner1.jpg" height="414px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-color">Cognizant Techonology Solutions</h5><hr>
          <p class="card-text">The company has 318,400[100] employees globally, of which over 150,000 are in India across 10 locations with a plurality in Chennai. On 20 Jan, 1994 Cognizant registered its branch in Chennai, Tamil Nadu, India with the legal name Cognizant Technology Solutions India Private Limited. The other centers of the company are in Bangalore, Chennai, Coimbatore, Gurgaon, Noida, Hyderabad, Kochi, Kolkata, Mangalore, Mumbai, and Pune.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 7 hours ago</small>
        </div>
      </div>
    </div>
  </div>