    .home{
     background-color: aquamarine;
     width:100%;
    }
    .adjust{
        margin-top:100px;
    }
    .card-text{
        
        font-weight:bold;
    }
    .text-setter{
        color: #0d0b6e !important;
    }
  